* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: #eee;
}
:root {
  --containerWidth: 1280px;
  --wrapperWidth: 1920px;
}
::-webkit-scrollbar {
  width: 0.0001px;
  height: 0.0001px;
}
.header-box {
  width: 100%;
  height: 160px;
  background-color: #050402;
}
.container {
  max-width: var(--containerWidth);
  width: 100%;
  height: 100%;
}
.wrapper {
  max-width: var(--wrapperWidth);
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 100%;
}
.h-top {
  width: 100%;
  height: 66px;
}
.h-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-item {
  max-width: 373px;
  min-height: 46px;
  display: flex;
}
.h-left {
  margin: 0;
  margin-left: 0;
  margin-top: 15px;
}
.h-center {
  margin: 0;
}
.h-right {
  margin: 0;
  margin-right: 0;
}
.h-link1 {
  width: 156px;
  height: 100%;
  margin-left: 0;
  margin-right: 56px;
}
.h-link2 {
  width: 161px;
  height: 100%;
}
.h-link__phone {
  width: 100%;
  height: 50%;
}
.h-link__phone > i {
  color: white;
}
.h-link__phone > a {
  padding-left: 25px;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: white;
}
.h-link__phone > a:hover {
  color: #bb8c5f;
}
.h-link__message {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.h-link__message > a {
  color: white;
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.h-link__message > a:hover {
  color: #bb8c5f;
}
.h-link__email {
  width: 100%;
  display: flex;
  color: white;
}
.h-link__email > a {
  color: white;
}

.h-btns {
  width: 3750px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 30%;
}
.h-price-list {
  width: 88px;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}
.h-price {
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.h-shops {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  cursor: pointer;
}
.shop-number {
  position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  background-color: #bb8c5f;
  z-index: 1;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-shops > i {
  font-size: 20px;
}
.h-like-item {
  font-size: 20px;
  margin-right: 0;
}
.h-like-center {
  margin-left: 0;
}
.h-like-item > a > i {
  color: white;
}
.h-c-border {
  width: 100%;
  margin-top: 10px;
}
.h-border {
  width: 100%;
  height: 1px;
  border: 1px solid #524336;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-border > i {
  color: #524336;
}
.h-border > .fa-caret-right {
  margin-left: -3px;
}
.h-border > .fa-caret-left {
  margin-right: -3px;
}
.h-bottom {
  width: 100%;
  height: 61px;
  padding-top: 20px;
}
.bottom-list {
  width: 100%;
  height: 100%;
  display: flex;
}
.h-bottom-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-bottom-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-bottom-btn{
  display: none;
}
.Catalog-dropDown {
  width: 125px;
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 0;
}
.Catalog {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
.Catalog > p {
  width: 100%;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.MenuBtn{
  display: none;
}

.burgerBtn {
  width: 25px;
  font-size: 22px;
  color: #bb8c5f;
  cursor: pointer;
}
.Catalog-Search {
  max-width: 418px;
  width: 100%;
  height: 44px;
  border: 1px solid #524336;
  display: flex;
  align-items: center;
  margin-right: 0;
}
.Catalog-Search > i {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #636b78;
  margin-left: 0;
}
.Catalog-Search > input {
  max-width: 374px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 5px;
  color: white;
}
.h-bottom-list {
  width: 100%;
  height: 80px;
  display: flex;
}
.h-bottom-item {
  max-width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  cursor: pointer;
  margin-right: 0;
}
.h-bottom-item > a {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
}
.h-bottom-item > a:hover {
  color: #bb8c5f;
}
.h-bottom-item:hover {
  background-image: url("/images/bg/iconBg.svg");
}
.Catalog-boxs {
  width: 618px;
  max-height: 700px;
  margin-left: 0;
  display: none;
  position: absolute;
  z-index: 99;
  background-color: white;
  box-shadow: rgba(132, 132, 132, 0.1) 0px 10px 50px;
}
.Catalog-box-top {
  width: 100%;
  height: 86px;
  border-bottom: 1px solid #d0d0d0;
}
.Catalog-box-btns {
  width: 300px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.Catalog-box-btn {
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  color: #3e424b;
  background-size: 100%;
  cursor: pointer;
}
.Catalog-items {
  width: 100%;
  height: 100%;
  padding: 40px 50px 50px 50px;
  display: flex;
}
.Catalog-item {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.catalog1 {
  width: 200px;
}
.Catalog-item > a {
  width: 100%;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #050402;
}
.activeText {
  color: #bb8c5f;
  background-image: url("/images/bg/iconLine.svg");
}
.activeCatalog {
  display: block;
  display: flex;
}
.deActiveCatalog {
  display: none;
}
.hero-box {
  width: 100%;
  height: 700px;
  background-color: #050402;
  background-image: url("/images/bg/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hero {
  width: 100%;
  height: 100%;
  padding-top: 110px;
  position: relative;
}
.hero-item {
  width: 594px;
  height: 380px;
  margin-left: 0;
  overflow: hidden;
}
.hero-text {
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.hero-text-item > h3 {
  color: #bb8c5f;
  font-family: Forum;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.hero-text-item > p {
  color: #faf6f2;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 430px;
  margin-left: 0;
  margin-top: 30px;
}
.hero-text-item > button {
  width: 275px;
  height: 70px;
  background-image: url("/images/bg/btnBg.png");
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 55px;
  cursor: pointer;
}
.hero-btns {
  width: 40px;
  height: 324px;
  position: absolute;
  right: 0;
  top: 138px;
  display: grid;
}
.hero-btn-1 {
  width: 100%;
  height: 63px;
  background-image: url("/images/bg/btn2Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.hero-tab-btns {
  width: 100%;
  height: 150px;
  display: grid;
  margin-top: 10px;
}
.hero-tab-btn {
  width: 18px;
  height: 18px;
  outline: 2px solid #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tab-btn {
  width: 13px;
  height: 13px;
  /* background-color: #bb8c5f; */
}
.hero-btn-2 {
  width: 100%;
  height: 90px;
  background-image: url("/images/bg/btn3Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.Card-box {
  width: 100%;
  background-color: #eee;
}
.Card {
  width: 100%;
  padding-top: 100px;
}
.Card-top {
  width: 100%;
  height: 50px;
}
.Card-top-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;

}
.Card-top-item {
  height: 50px;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 650;
  line-height: 115%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  background-size: contain;
  cursor: pointer;
  margin-right: 20px;
}
.Card-top-item:nth-child(1){
  min-width: 170px;
}
.Card-top-item:nth-child(2){
  min-width: 250px;
}
.Card-top-item:nth-child(3){
  min-width: 250px;
}
.Card-top-item:nth-child(4){
  min-width: 250px;
}
.Card-active {
  color: #bb8c5f;
  background-image: url("/images/bg/iconLineBig.svg");
}

.Card-bottom {
  width: 100%;
}
.Card-List {
  margin-top: 45px;
  width: 100%;
}
.activeCard {
  display: block;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.deactiveCard {
  display: none;
}
.Card-item {
  width: 289px;
  height: 384px;
  padding-top: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-bottom: 35px;
}
.Card-item-top {
  margin-top: 20px;
  width: 100%;
  height: 230px;
  display: flex;
}
.Card-item-top > p {
  width: 80px;
  margin-left: 0;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/images/bg/textBg.svg");
  background-color: transparent;
  color: #bb8c5f;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.top-btns-hero {
  height: 30px;
  width: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.top-btns-hero > i {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
}
.top-btns-hero > .fa-regular {
  color: #524336;
}
.top-btns-hero > .fa-solid {
  color: #bb8c5f;
  display: none;
}
.item-imgs-btn {
  width: 80px;
  height: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgs-btn {
  width: 8px;
  height: 8px;
  background-color: #e3e3e3;
  cursor: pointer;
}
.activeSpan {
  background-color: #524336;
}
.Card-item-name {
  width: 100%;
  padding: 0 30px;
  margin-top: 10px;
}
.Card-item-name > h4 {
  color: #3e424b;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
}
.Card-item-price {
  width: 100%;
  padding: 0 30px;
}
.Card-item-price > h4 {
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  color: #bb8c5f;
  margin-top: 5px;
}
.Card-item-btn {
  width: 100%;
  height: 50px;
  background-image: url("/images/bg/btn4Bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0 30px;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #bb8c5f;
  margin-top: 10px;
}
.Card-item:hover {
  height: 454px;
  margin-top: -25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Card-item:hover .Card-item-btn {
  display: block;
  display: flex;
}
.Card-item:hover .Card-bottom-Btn {
  margin-top: 90px;
}
.Card-bottom-Btn {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card-bottom-Btn > button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 265px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/bg/btn5Bg.png");
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #bb8c5f;
}
.Katalog-box {
  width: 100%;
  background-color: #eee;
}
.KatalogActiveBtn{
  max-width: 1183px;
  width: 100%;
}
.Katalog {
  width: 100%;
  padding-top: 70px;
}
.Katalog-top {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Katalog-top > h3 {
  font-family: Forum;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #3e424b;
}
.Katalog-List {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}
.Katalog-item {
  height: 350px;
  margin-top: 20px;
  padding: 40px 50px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.Katalog-item > a {
  width: 100%;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  color: #3e424b;
}
.Katalog-btns{
  display: none;
}
.K-item1 {
  width: 494px;
  margin-left: 0;
  background-image: url("/images/bg/kitem1.png");
}
.K-item1 > a > h4 {
  width: 100px;
  margin-left: 0;
}
.K-item2 {
  width: 701px;
  margin-right: 0;
  background-image: url("/images/bg/kitem2.png");
}
.K-item3 {
  width: 342px;
  margin-left: 0;
  background-image: url("/images/bg/kitem3.png");
}
.K-item4 {
  width: 493px;
  background-image: url("/images/bg/kitem4.png");
}
.K-item5 {
  width: 341px;
  margin-right: 0;
  background-image: url("/images/bg/kitem5.png");
}
.K-item6 {
  width: 495px;
  margin-left: 0;
  background-image: url("/images/bg/kitem6.png");
}
.K-item7 {
  width: 341px;
  background-image: url("/images/bg/kitem7.png");
}
.K-item8 {
  width: 341px;
  margin-right: 0;
  background-image: url("/images/bg/kitem8.png");
}
.K-item9 {
  width: 340px;
  margin-left: 0;
  background-image: url("/images/bg/kitem9.png");
}
.K-item10 {
  width: 340px;
  background-image: url("/images/bg/kitem10.png");
}
.K-item11 {
  width: 439px;
  margin-right: 0;
  background-image: url("/images/bg/kitem11.png");
}
.Banners-box {
  width: 100%;
  background-color: #eee;
}
.Banners {
  width: 100%;
  padding-top: 100px;
}
.Banners-list {
  width: 100%;
  min-height: 470px;
  height: 100%;
  display: flex;
}
.Banners-item {
  width: 49%;
  height: 470px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: grid;
  position: relative;
  padding: 40px 0;
}
.Banners-item > h3 {
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #faf6f2;
}
.Banners-item > a {
  height: 35px;
  align-self: end;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #bb8c5f;
  background-image: url("/images/bg/iconLineBig.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.B-item1 {
  margin-left: 0;
  background-image: url("/images/bg/banner1.png");
}
.B-item2 {
  margin-right: 0;
  background-image: url("/images/bg/banner2.png");
}
.B-item2 > h3 {
  margin-left: 50px;
}
.B-item2 > a {
  margin-left: 50px;
}

.Brand-box {
  width: 100%;
  background-color: #eee;
}
.Brend {
  width: 100%;
  padding-top: 100px;
}
.Brend-top {
  width: 100%;
}
.Brend-top > h3 {
  font-family: Forum;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #3e424b;
}
.Brend-top-all {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.Brend-top-all > div {
  margin-right: 0;
  cursor: pointer;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #3e424b;
}
.Brend-list {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px 0;
}
.Brend-item {
  cursor: pointer;
}
.Creater-box {
  width: 100%;
  background-color: #eee;
}
.Creater {
  width: 100%;
  padding-top: 100px;
}
.Creater-list {
  max-width: 1568px;
  width: 100%;
  min-height: 635px;
  display: flex;
  margin-left: 0;
}
.Creater-Img {
  width: 930px;
  height: 100%;
  margin-left: 0;
}
.Creater-Img > img {
  width: 100%;
  height: 100%;
}
.Creater-Text {
  max-width: 583px;
  width: 100%;
  margin-right: 0;
  padding: 66px 0;
}
.Creater-Text > h3 {
  font-family: Forum;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #bb8c5f;
  margin-bottom: 20px;
}

.Creater-Text > span > p {
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #3e424b;
}
.Creater-Text > button {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #bb8c5f;
  width: 277px;
  height: 70px;
  background-image: url("/images/bg/btn5Bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 40px;
}
.Reviews-box {
  width: 100%;
  background-color: #eee;
}
.Reviews {
  width: 100%;
  padding-top: 100px;
}
.Reviews-text {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.Reviews-text > h3 {
  font-family: Forum;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #3e424b;
}
.Reviews-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}
.Reviews-List {
  height: 357px;
  display: flex;
  transition: transform 0.5s ease;
}

.Reviews-item,
.clone-item {
  padding: 0 50px;
  background-color: black;
  margin: 0 10px;
}

.activeReviews {
  min-width: 598px;
  height: 307px;
  transition: 1.5s ease;
  opacity: 1;
  margin-top: 50px;
}
.deActiveReviews {
  min-width: 20%;
  height: 257px;
  transition: 1.5s ease;
  margin-top: 50px;
  opacity: 0.3;
  background-color: black;
  margin-top: 75px;
}
.Reviews-img {
  margin-top: -50px;
}
.Reviews-text {
  color: white;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 30px;
}

.Reviews-name {
  color: #bb8c5f;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.Reviews-inst {
  width: 150px;
  height: 30px;
  display: flex;
  margin-top: 50px;
  margin-left: 0;
}
.Reviews-icon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bb8c5f;
}
.Reviews-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1.5px solid #bb8c5f;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
  top: 90%;
  left: 15%;
  cursor: pointer;
}
.Reviews-next {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1.5px solid #bb8c5f;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
  top: 90%;
  right: 15%;
  cursor: pointer;
}
.Contact-box {
  width: 100%;
  padding-top: 150px;
  background-color: #eee;
}
.Contact {
  max-width: 1568px;
  width: 100%;
  min-height: 562px;
  display: flex;
  margin-right: 0;
  padding-left: 10px;
}
.Contact-right {
  width: 952px;
  height: 562px;
  background-image: url("/images/bg/bgContact.png");
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.Contact-left {
  width: 523px;
  margin-left: 0;
}
.Contact-left > h3 {
  font-family: Forum;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #3e424b;
}
.Contact-left > p {
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  color: #3e424b;
  margin: 30px 0;
}

.Contact-left > div {
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #636b78;
}
.Contact-left > input {
  width: 392px;
  height: 70px;
  margin: 10px 0;
  padding-left: 30px;
  border: none;
  outline: none;
  font-size: 18px;
}
.Contact-left > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}
.Contact-left > span > input {
  margin-left: 0;
}
.Contact-left > span > p {
  color: #636b78;
  margin-left: -50px;
}

.Contact-left > button {
  width: 275px;
  height: 70px;
  background-image: url("/images/bg/btnBg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #faf6f2;
  margin-top: 20px;
}
.footer-box{
  width: 100%;
  min-height: 400px;
  margin-top: 150px;
  background-color: #050402;
}
.footer-list{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-item1{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #bb8c5f;
}
.footer-item2{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-left1{
height: 141px;
width: 238px;
display: grid;
margin-left: 0;
}
.footer-left1>a{
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  height: 25px;
  color: white;
}
#footer-politika{
  margin-top: 50px;
}
.footer-left2{
  width: 126px;
  height: 141px;
  display: grid;
}
.footer-left2>a{
  font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 133.5%;
color: white;
margin-left: 0;
height: 25px;
}
.footer-left3{
  width: 100px;
  height: 141px;
  display: grid;
}
.footer-left3>a{
  font-family: Montserrat;
  font-size: 20px;
  color: white;
  margin-left: 0;
  height: 25px;
}
.footer-right{
  width: 350px;
  height: 130px;
}
.footer-right>p{
  font-family: Jost;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 150%;
color: #636b78;
margin-bottom: 30px;
}
.footer-right>a{
  width: 200px;
  height: 30px;
  font-family: Jost;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
color: #faf6f2;

}
.footer-right-top{
  width: 100%;
  display: flex;
}
.footer-right-top>a{
  font-family: Jost;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
color: #faf6f2;
margin-left: 0;
}
.footer-right-top>div{
  width: 144px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-right-top>div>a{
width: 40px;
height: 40px;
border: 1px solid #bb8c5f;
display: flex;
align-items: center;
justify-content: center;
color: #bb8c5f;
font-size: 22px;
}
