@media screen and (max-width: 1760px) {
  .Banners-item > h3 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1560px) {
  .Banners-item > h3 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1320px) {
  :root {
    --wrapperWidth: 1220px;
    --containerWidth: 1220px;
  }
  .Creater-list {
    flex-direction: column;
    padding: 0 10px;
  }
  .Creater-Img {
    width: 100%;
  }
  .Creater-Text {
    min-width: 100%;
    margin: 0;
  }
  .Reviews {
    padding-top: 0;
  }
  .Contact {
    flex-direction: column;
  }
  .Contact-left,
  .Contact-right {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
  .Contact-left > h3 {
    width: 100%;
    text-align: center;
  }
  .Contact-left > p {
    text-align: center;
  }

  .Contact-left > input {
    margin: 0;
    width: 100%;
  }
  .Contact-left > span {
    max-width: 550px;
    margin-left: 0;
  }
  .Banners-list {
    flex-direction: column;
  }
  .Banners-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .Banners-item > h3 {
    margin-top: 0;
  }
  .B-item2 > h3 {
    min-width: 150px;
    text-align: center;
    margin: 0;
  }
  .B-item2 > a {
    text-align: center;
    margin: 0;
    background-image: none;
  }
  .footer-box {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1240px) {
  :root {
    --wrapperWidth: 1120px;
    --containerWidth: 1120px;
  }
  .Card-List {
    grid-template-columns: auto auto auto;
  }
  .K-item2 {
    width: 500px;
    margin: 0;
    margin-right: 0;
  }
  .K-item4 {
    margin: 0;
    margin-right: 0;
  }
  .K-item5 {
    margin: 0;
    margin-left: 0;
  }
  .K-item6 {
    margin: 0 auto;
    margin-right: 0;
  }
  .K-item8 {
    margin: 0 auto;
  }
  .KatalogActiveBtn {
    max-width: 1083px;
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  :root {
    --wrapperWidth: 1000px;
    --containerWidth: 1070px;
  }
  .Katalog-List {
    display: grid;
    grid-template-columns: auto auto;
  }
  .KatalogActiveBtn {
    max-width: 1050px;
    width: 100%;
  }
  .Brend-list {
    grid-template-columns: auto auto auto auto;
  }

  .Card-top-item {
    min-width: 170px;
  }
  .h-bottom-right {
    max-width: 350px;
  }
  .h-top {
    display: none;
  }
  .header-box {
    height: 80px;
  }
  .h-c-border {
    display: none;
  }
  .h-bottom-left {
    width: 800px;
  }
  .h-bottom-list {
    display: none;
  }
  .h-bottom-btn {
    display: block;
    display: flex;
    padding: 0;
  }
}
@media screen and (max-width: 1100px) {
  :root {
    --wrapperWidth: 900px;
    --containerWidth: 900px;
  }
  .K-item1 {
    margin: 0;
    width: 92%;
    margin-left: 0;
  }
  .K-item2 {
    width: 92%;
    margin-right: 0;
  }
  .K-item4 {
    width: 92%;
    margin-right: 0;
  }
  .K-item6 {
    width: 92%;
    margin-right: 0;
  }
  .Katalog-item {
    margin: 0;
    margin-top: 20px;
  }
  .hero-btns {
    left: 18%;
    top: 60%;
    transform: rotate(270deg);
  }
  .hero-btn-2,
  .hero-btn-1 {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  :root {
    --wrapperWidth: 800px;
    --containerWidth: 800px;
  }
  .Banners-item > h3 {
    margin-top: 50px;
  }
  .footer-list {
    flex-direction: column;
  }
  .footer-item1 {
    width: 100%;
    border-right: none;
  }
  .footer-item2 {
    width: 100%;
  }
  .footer-right {
    margin-left: 20px;
  }
  .K-item1 {
    width: 80%;
  }
  .Brend-list {
    grid-template-columns: auto auto auto;
  }
  .Card-List {
    grid-template-columns: auto auto;
  }
  .h-bottom-right {
    max-width: 250px;
  }
  .Card-item {
    min-height: 454px;
    margin: 0;
    margin-top: 10px;
    margin-left: 50px;
  }
  .Card-item:hover {
    margin-top: 10px;
  }
  .Card-item-btn {
    display: block;
    display: flex;
    font-size: 18px;
  }
  .K-item11, .K-item10, .K-item9, .K-item8, .K-item7{
    display: none;
  }

  .Katalog-btns{
    display: block;
    display: flex;
    align-items: center;
  }
  .Banners-item{
    margin: 0;
  }
}
@media screen and (max-width: 840px) {
  :root {
    --wrapperWidth: 720px;
    --containerWidth: 720px;
  }
  .Card-item{
    margin-left: 30px;
  }
  .Banners{
    padding-top: 0;
  }
  .Banners-item{
    max-height: 450px;
  }
  .Banners-item>h3{
    margin: 0 auto;
    padding-top: 100px;
  }
  .Catalog-boxs{
    max-width: 90%;
  }
  .Catalog-Search{
    width: 320px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --wrapperWidth: 95%;
    --containerWidth: 600px;
  }
  .hero-box{
    background-position: 65%;
  }
  .CatalogBtn{
    display: none;
  }
  .MenuBtn{
    display: block;
    display: flex;
  }
  .Card-item{
    margin-left: 10px;
  }
  .Contact-box{
    padding-top: 50px;
  }
  .Contact-right{
    max-height: 350px;
  }
  .Banners-item>h3{
    padding-top: 60px;
  }
.Brend-list{
  grid-template-columns: auto auto;
}
.Catalog-Search{
  width: 240px;
}
.hero-btns{
  left: 30%;
}
.Katalog-List{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
}
.Katalog-item{
  margin: 0 10px;
  min-width: 150px;
  min-width: 500px;
}
.h-bottom-right{
  max-width: 200px;
}
.Banners-item>h3{
  padding-top: 100px;
}
.Banners-item{
  min-width: 670px;
  margin: 0 15px;
}
.K-item11, .K-item10, .K-item9, .K-item8, .K-item7{
  display: block;
}
.Banners-list{
  display: flex;
  flex-direction:row;
  overflow-y: hidden;
}
}
@media screen and (max-width: 620px) {
.hero-item{
  width: 100%;
}
.hero-text-item>h3{
  font-size: 60px;
}
.activeCard{
  display: flex;
  overflow-y: hidden;
}
.Card-item{
  min-width: 280px;
}
.hero-item{
  min-height: 450px;
}
.Catalog-Search{
  display: none;
}
.hero-text-item>p{
  width: 100%;
}
.h-like-item{
  display: none;
}
.h-price-list{
  margin-right: 15px;
}
.Brend-list{
  grid-template-columns: auto;
}
.Reviews-item{
  width: 400px;
}
}

@media screen and (max-width: 470px) {
.hero-item{
min-height: 500px;
}

.hero-item:nth-child(2){
  display: none;
}
.hero-item:nth-child(3){
  display: none;
}
.hero-item:nth-child(4){
  display: none;
}
.hero-item:nth-child(5){
  display: none;
}
.hero-btns{
  display: none;
}
.Contact-left>span>p{
  margin-left: 0;
}
.Brend-top>h3{
  font-size: 50px;
}
.footer-item1{
  display: flex;
  flex-wrap: wrap;
}
.footer-left3{
  margin-left: 15px;
}
.footer-right-top{
  display: flex;
  flex-wrap: wrap;
}
.footer-box{
  margin: 0;
  min-height: 500px;
}
}